body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    330deg,
    hsl(272, 53%, 50%) 0%,
    hsl(226, 68%, 56%) 100%
  );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#scroll-root {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#root {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Focusable:not(:disabled):focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}
